.header {
	position: absolute;
	width: 100%;
	color: var(--color-text---white);
	z-index: 5;
	overflow: hidden;
}

.container {
	width: 100%;
	margin-inline: auto;
	display: flex;
	align-items: center;
	gap: 12px;
	padding: 28px 0px;
	justify-content: space-evenly;
}

.container h4 {
	cursor: pointer;
}

.logo {
	margin: 0 0 0 75px;
	font-weight: 400;
}

.menu {
	display: flex;
	align-items: center;
}

.menu a {
	position: relative;
	margin: 0px 22px;
}

.isActive {
	font-weight: 700;
}

.isActive::after {
	content: '';
	width: 75%;
	margin-inline: auto;
	height: 3px;
	background-color: var(--color-secondary---yellow);
	opacity: 1;
	position: absolute;
	bottom: -8px;
	left: 10%;
}

.isActiveIcon {
	border: 2px solid var(--color-secondary---yellow);
  border-radius: 50px;
}

.search {
	margin-left: 100px;
	margin-right: 25px;
	cursor: pointer;
	font-size: 0px;
	flex-shrink: 0;
}

.searchButton {
	padding: 10px;
}

.profile {
	display: flex;
	align-items: center;
	gap: 16px;
  margin: 0 75px 0 0;
}

.profileImage {
	cursor: pointer;
}

.profileImage {
	width: 48px;
	height: 48px;
	border-radius: 100px;
	background: var(--color-primary---dark-gray);
	overflow: hidden;
}

.profile h6 {
	display: block;
}