.body {
	display: flex;
	width: 100%;
	background: var(--color-base---black)
}

.container {
	background: var(--color-primary---dark-gray);
  position: relative;
	width: 100%;
	max-width: var(--container---max-width);
	min-width: var(--container---min-width);
	margin-inline: auto;
}
